*{
    background-color: black;
    color: rgb(252, 236, 21);
}
.Add{
    position: relative;
    margin-left: 5px;
}

.list{
border: 2px solid rgb(7, 236, 45);
box-shadow: 2px 2px 2px 2px rgb(110, 110, 209);
padding :2px;
margin : 12px;
}
.main{
    text-align: center;
    margin: auto;
    position: relative;
    top: 30px;
    left : 80px;
    outline-width: 20px;
    outline-color: rgba(252, 142, 17, 0.5);
    outline-style: outset;
    border : 2px solid black;
    width: 200px;
 
    padding :30px;
    
}